@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100&display=swap');
header{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 10px;
}
header a{
    text-decoration: none;
    color:#C1C0C1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    size: 14px;
    /* gap: 10px; */
    padding: 10px;
}    

 a:hover{
    color: #00b39b;
}
#selected{
    color: #00b39b;
}

#class{
text-align: center;  
padding-top: 15vh;  
}
section h1{
    color: #00b39b;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 33px;
    font-weight: 300;

}
#two-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 50px auto;
    gap: 40px;
}

.text{
    color: #747474;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 400;
    text-justify: justify;
    text-align: left;
    line-height: 23px;
    font-style: normal;

}
#three-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    gap: 25px;   
}

/* first block design */
#block1{
    /* border: 1px solid black; */
    width: 16vw;
    height: 255px;
    background-color:#00CCB1 ;
    border-radius: 10px;
    /* text-align: center; */
    font-family: "Work Sans", Arial, sans-serif;;
    font-size: 21px;
    color: #ffffff;
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    gap: 25px;
    margin-left: 20px;
    align-items: center;
}
#block1 img{
    text-align: left;
    color: #ffffff;
}
#block1 h1{
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 25px; 
    
}
#block1 nav{
    padding-top: 30px;
    color: #ffffff;
}
#block1 a{
    color: #ffffff;
    text-wrap: 10px;
    font-size: 21px;

}

/* Second block desing */
#block2{
    /* border: 1px solid black; */
    width: 15vw;
    height: 255px;
    background-color:#3D83DF ;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Work Sans", Arial, sans-serif;;
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    margin-left: 20px;
    align-items: center;
    gap: 25px;
    
}
#block2 h1{
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 41px;
}
#bock2 nav{
    padding-top: 5px;
    color: #ffffff;
}
#block2 a{
    color: #ffffff;
    text-wrap: 10px;
    margin-top: 10px;
    font-size: 21px;
}


#block3{
    /* border: 1px solid black; */
    width: 15vw;
    height: 255px;
    background-color: #1B2734;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Work Sans", Arial, sans-serif;;
    /* text-align: center; */
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    margin-right: 20px;
    gap: 25px;  
}
#block3 h1{
    /* font-family: "Work Sans", Arial, sans-serif;; */
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 41px;
}

#block3 p{
color: #ffffff;
/* margin-bottom: 50px; */
}

/* select design */
#select1{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select1 option{
    color: black;
    font-weight: 300;
    font-size: 21px;
    background-color:#00CCB1;

}

#select2{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select2 option{
    color: black;
    font-weight: 300;
    font-size: 21px;
    background-color: #3D83DF;
}
#select3{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select3 option{
    color: #ffffff;
    font-weight: 300;
    font-size: 21px;
    background-color: #1B2734;
}
#select4{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select4 option{
    color:#ffffff;
    font-weight: 300;
    font-size: 21px;
    background-color: #1B2734;
}
