@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* design of the header */
header{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 15px;
}
header a{
    text-decoration: none;
    color:#C1C0C1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    size: 14px;
    /* gap: 10px; */
    padding: 10px;
}    

 a:hover{
    color: #00b39b;
}
#selected{
    color: #00b39b;
}

#class{
text-align: center;  
padding-top: 15vh;  
}

/* design of the text */
section h1{
    color: #00b39b;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 33px;
    font-weight: 300;

}
#two-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 50px auto;
    gap: 40px;
}

.text{
    color: #747474;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 400;
    text-align: justify;
    text-align: left;
    line-height: 23px;
    font-style: normal;

}
/* design of the threeblocks */
#three-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    gap: 25px;   
}

#block1{
    /* border: 1px solid black; */
    width: 16vw;
    height: 255px;
    background-color:#00CCB1 ;
    border-radius: 10px;
    /* text-align: center; */
    font-family: "Work Sans", Arial, sans-serif;;
    font-size: 21px;
    color: #ffffff;
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    gap: 25px;
    margin-left: 20px;
    align-items: center;
}
#block1 img{
    text-align: left;
    color: #ffffff;
}
#block1 h1{
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 25px; 
    
}
#block1 nav{
    padding-top: 30px;
    color: #ffffff;
}
#block1 a{
    color: #ffffff;
    text-wrap: 10px;
    font-size: 21px;

}

/* second block */
#block2{
    /* border: 1px solid black; */
    width: 15vw;
    height: 255px;
    background-color:#3D83DF ;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Work Sans", Arial, sans-serif;;
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    margin-left: 20px;
    align-items: center;
    gap: 25px;
    
}
#block2 h1{
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 41px;
}
#bock2 nav{
    padding-top: 5px;
    color: #ffffff;
}
#block2 a{
    color: #ffffff;
    text-wrap: 10px;
    margin-top: 10px;
    font-size: 21px;
}

/* third block */
#block3{
    /* border: 1px solid black; */
    width: 15vw;
    height: 255px;
    background-color: #1B2734;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Work Sans", Arial, sans-serif;;
    /* text-align: center; */
    padding: 50px;
    font-size: 21px;
    font-weight: 300;
    margin-right: 20px;
    gap: 25px;  
}
#block3 h1{
    /* font-family: "Work Sans", Arial, sans-serif;; */
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
    line-height: 41px;
}

#block3 p{
color: #ffffff;
/* margin-bottom: 50px; */
}


/* select design */
#select1{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select1 option{
    color: black;
    font-weight: 300;
    font-size: 21px;
    background-color:#00CCB1;

}

#select2{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select2 option{
    color: black;
    font-weight: 300;
    font-size: 21px;
    background-color: #3D83DF;
}
#select3{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select3 option{
    color: #ffffff;
    font-weight: 300;
    font-size: 21px;
    background-color: #1B2734;
}
#select4{
    text-decoration: underline;
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    background: none;
}
#select4 option{
    color:#ffffff;
    font-weight: 300;
    font-size: 21px;
    background-color: #1B2734;
}

/* logos desigs */
#logos{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}
#logo1{
    /* border: 1px solid black; */
    font-family: "Work Sans", Arial, sans-serif;;
    font-size: 23px;
    line-height: 33px;
    font-weight: 300;
    color: #00b39b;
    width: 40%;
    text-align:left;
}

#logo2{
    /* border: 1px solid black; */
    flex-direction: row;
    display: flex; 
    flex-wrap: wrap;
    width: 40%;
    padding-top:30px ;
    row-gap: 30px;
    margin-bottom: 30px;
    column-gap: 30px;
}

#logo2 img{
    width: 20%;
}

/* designing box and large logo */
#large{
    background-color: #D0FAF4;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly ; 
     
}
#largelogo{
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content:end ;
    gap: 5vh;

}
#largelogo,#fourboxes{
    /* border: 1px solid black ; */
    width: 40%;   
}
 #largelogo h1{
    color: #00b39b;
  font-weight: 300;
  font-size: 30px;
  font-family: "Work Sans", Arial, sans-serif;
  line-height: 33px;
 }
 #largelogo p{
    color: #747474;
    font-size: 15px;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 21px;
 }
#largelogo img{
    width: 85%;
    
}


#fourboxes{
    /* border: 1px solid black; */
    height: 95%;
  display: flex;
  justify-content: space-around;
}
    
.twobox{
    /* border: 1px solid black; */
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#firstb{
    align-self: end;
}
.innerbox{
    /* border: 1px solid black; */
    height: 47%;
    /* width: 100%; */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}
.innerbox h1{
    font-size: 26px;
    font-weight: 300;
    font-family: "Work Sans", Arial, sans-serif;;
}
.innerbox p{
    font-size: 11px;
    font-family: "Roboto", Arial, sans-serif;;
    color: #747474

}
.innerbox img{
    width: 10%;
}

/* the design of the center text */
.standard{
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   padding: 10px;
   text-align: center;
   margin: 8%;
   gap: 5vh;
   line-height: 25px;
}
.standard h1{
    gap: 10%;
    line-height: 33px;
    font-size: 30px;
    
}
.standard p{
    font-size: 14px;
    font-family: "Roboto", Arial, sans-serif;;
    color: #747474 ;
}

/* design of cityimages */
#section6 {
    display: flex;
    width: 75%;
    margin: 30px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2vh;
  }

.allpic{
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-wrap: wrap;
    row-gap: 5px;
}

 .allpic img{
    width: 100%;
 }
 .allpic div{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
 }
.allpic :hover{
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.3);

}
.tt{
    font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  color: #747474;

}
.tt2{
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: rgb(61, 131, 223);
    border-radius:4px;
  
}
 
/* see all current open9ing design */
.textin{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin: 90px;
    font-family:"Work Sans", Arial, sans-serif; ;
    font-size: 30px;
    
    
}
#box{
    background-color:rgb(61, 131, 223); ;
    color: #ffffff;
    padding: 10px 20px;
    font-family: "Roboto", Arial, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    border-radius: 3px;
    
}
.textin h1{
   color: black; 
}

/* design of the footer */
#foottxt{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.ftxt{
    text-decoration: none;
    color: #23527c;
}
.ftxt p{
    text-decoration: none;
    color: #ababab ;
    font-family: "Roboto", Arial, sans-serif;;
    font-size: 12px;
}
.ftxt a{
    text-decoration: none;
    color: #337AB7;
    font-family: "Roboto", Arial, sans-serif;;
    font-size: 12px;
}
.ftxt a:hover{
    text-decoration: underline;
    color: #23527c;
}

#fftxt p{
    font-family: "Roboto", Arial, sans-serif;;
   font-size: 12px;
    color: #ababab;
    font-weight: 400;
}






    

